<!doctype html>
<html lang="{{ site.lang | default: "zh-TW" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta property="og:image" content="{{ site.baseurl }}{{ page.ogimage }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
    <meta property="og:url" content="website">
    <title>{{ page.title }} by {{ site.title }}</title>
    <link rel="icon" href="https://wiki.postgresql.org/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
         {% include header.html %}
      </header>
      <section>
        <h1>{{ page.title }}</h1>
        <p style="text-align:right; font-style:italic;">{{ page.date | date: '%B %d, %Y' }}</p>
      {{ content }}
      <hr/>
        <div style="text-align:right;">
        如果你發現任何錯誤或需要補充，請直接到 <a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">Github</a> 送 PR 給我們。
        </div>
      <hr/>
      <div style="text-align:center;">
        <img src="https://github.com/pgsql-tw/promotional-materials/blob/master/TWPUG-sticker/pgsql-tw-sticker-3.png?raw=true" width="150"/>
      </div>
      </section>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
